@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbox::-webkit-scrollbar {
  width: 12px;
}

.scrollbox::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollbox:hover::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #898989;
}

.scrollbox {
  scrollbar-gutter: stable;
}

/* Barra de desplazamiento */
.os-theme-dark.os-scrollbar-vertical {
  /* Tamaño de la barra de desplazamiento */
  --os-size: 16px;

  /* Relleno perpendicular al eje de la barra de desplazamiento (horizontal: relleno-y, vertical: relleno-x) */
  --os-padding-perpendicular: 2px;

  /* Relleno en el eje de la barra de desplazamiento (horizontal: relleno-x, vertical: relleno-y) */
  --os-padding-axis: 2px;

  /* Radio de borde de la pista de la barra de desplazamiento */
  --os-track-border-radius: 10px;

  /* Aumenta el área interactiva del control de la barra de desplazamiento */
  --os-handle-interactive-area-offset: 4px;

  /* Radio de borde del control de la barra de desplazamiento */
  --os-handle-border-radius: 0;

  /* Fondo del control de la barra de desplazamiento */
  --os-handle-bg: rgba(255, 255, 255, 0.44);

  /* Fondo al pasar el cursor por encima del control de la barra de desplazamiento */
  --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
  
  /* Fondo al hacer clic en el control de la barra de desplazamiento */
  --os-handle-bg-active: rgba(255, 255, 255, 0.66);
}

.debug {
  border: 1px solid red;
}

body {
  overflow: hidden;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 228px));
  grid-auto-columns: minmax(145px, 228px);
  grid-auto-flow: column;
  gap: 24px;
}